---
import Badge from "@components/Badge.astro";
import { Icon } from "astro-icon";

interface Props {
  name: string;
  role: "author" | "contributor" | "maintainer";
  url: string;
  description: string | null;
  stars: number;
  languages: string[];
  website: string | null;
}

const colors = {
  maintainer: "gradient-pink",
  author: "gradient-indigo",
  contributor: "green",
} as const;

const { name, role, url, description, stars, languages, website } = Astro.props;
---

<li
  class="dark:text-zinc-400 text-zinc-500 gap-1 p-6 border dark:border-zinc-700/60 rounded-lg flex flex-col bg-opacity-40 dark:bg-opacity-40 bg-zinc-50 dark:bg-zinc-800"
>
  <div class="flex justify-between">
    <div class="flex flex-col sm:flex-row sm:items-baseline gap-2">
      <h2
        class="text-lg font-medium dark:text-white text-zinc-700 [word-break:break-word]"
      >
        {name}
      </h2>
      <Badge text={role} color={colors[role]} />
    </div>
    <div class="flex gap-2">
      <a
      href={url}
      target="_blank"
      rel="noopener noreferrer"
      aria-label={`Open ${name} repository in a new tab`}
    >
      <Icon
        name=""
        class="w-6 fill-current dark:hover:text-zinc-300 hover:text-zinc-600 hover:scale-110 transition-all"
      /> 
    </a>
    {website && (
      <a
        href={website}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={`Open ${name} website in a new tab`}
      >
        <Icon
          name="mdi:web"
          class="w-6 fill-current dark:hover:text-zinc-300 hover:text-zinc-600 hover:scale-110 transition-all"
        />
      </a>
    )}
    </div>
    
  </div>
  <div class="flex gap-2">
    <span>{stars}</span>
  </div>
  {description && <p class="leading-relaxed">{description}</p>}
  <ul class="flex flex-wrap gap-2 mt-2">
    {
      languages.map((item) => (
        <li class="dark:bg-zinc-700 bg-zinc-100 text-zinc-600 dark:text-zinc-300 rounded-md px-2 py-1 text-sm">
          {item}
        </li>
      ))
    }
  </ul>
</li>
